@page
@model Dawnx.AspNetCore.LiveAccountUtility.Pages.Users.DetailsModel
@using Dawnx.AspNetCore.LiveAccount.Entities

@{
    ViewBag.Title = "Details";

    var LiveRoles = ViewBag.LiveRoles as IEnumerable<LiveRole>;
    var UserLiveRoles = ViewBag.UserLiveRoles as IEnumerable<LiveRole>;
}

<h2>Details</h2>

<div>
    <h4>LiveUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Input.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Input.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Input.UserName)</dt>
        <dd>@Html.DisplayFor(model => model.Input.UserName)</dd>

        <dt>Roles</dt>
        <dd>
            <ul>
                @foreach (var liveRole in LiveRoles)
                {
                    var id = Guid.NewGuid();
                    <li>
                        <input type="checkbox" id="@id" name="LiveRoles" value="@liveRole"
                               disabled @(UserLiveRoles.Contains(liveRole) ? "checked" : "") />
                        <label for="@id">@liveRole</label>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a href="Edit?Id=@Model.Input.Id">Edit</a> |
    <a href="Index">Back to List</a>
</div>
