@page
@model Dawnx.AspNetCore.LiveAccountUtility.Pages.Actions.IndexModel

@{
    ViewBag.Title = "Actions";

    var __LiveAction__ = new Dawnx.AspNetCore.LiveAccount.LiveAction();
    var Items = ViewBag.Items as IEnumerable<Dawnx.AspNetCore.LiveAccount.LiveAction>;
}

<h2>LiveAction</h2>

<p>
</p>
<div>
    <form method="post">
        <button type="button" class="btn"
                onclick="action = 'SyncActions'; submit()">
            Sync Actions
        </button>
        <button type="button" class="btn"
                onclick="action = 'ClearInvalidActions'; submit()">
            Clear Invalid Items
        </button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => __LiveAction__.Area)</th>
            <th>@Html.DisplayNameFor(model => __LiveAction__.Controller)</th>
            <th>@Html.DisplayNameFor(model => __LiveAction__.Action)</th>
            <th>@Html.DisplayNameFor(model => __LiveAction__.IsMarked)</th>
            <th>@Html.DisplayNameFor(model => __LiveAction__.IsValid)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items.OrderBy(x => x.IsValid).ThenBy(x => x.Area).ThenBy(x => x.Controller).ThenBy(x => x.Action))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Area)</td>
                <td>@Html.DisplayFor(modelItem => item.Controller)</td>
                <td>@Html.DisplayFor(modelItem => item.Action)</td>
                <td>@Html.DisplayFor(modelItem => item.IsMarked)</td>
                <td>@Html.DisplayFor(modelItem => item.IsValid)</td>
            </tr>
        }
    </tbody>
</table>
