@page
@model Dawnx.AspNetCore.IdentityUtility.Pages.Roles.IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
    ViewBag.Title = "Roles";
    var __IdentityRole__ = new Microsoft.AspNetCore.Identity.IdentityRole();
    var Items = ViewBag.Items as IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>;
}

<h2>Roles</h2>

<p>
    <a href="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => __IdentityRole__.Name)</th>
            <th>@Html.DisplayNameFor(model => __IdentityRole__.ConcurrencyStamp)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            var id_ConcurrencyStamp = Guid.NewGuid();

            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td id="@id_ConcurrencyStamp">@Html.DisplayFor(modelItem => item.ConcurrencyStamp)</td>
                <td>
                    <a href="Edit?Id=@item.Id">Edit</a> |
                    <a href="Details?Id=@item.Id">Details</a> |
                    <a href="Delete?Id=@item.Id">Delete</a> |
                    <a href="#" onclick="generateConcurrencyStamp('@item.Id', '@id_ConcurrencyStamp')">Generate Concurrency Stamp</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function generateConcurrencyStamp(id, eid) {
        $.ajax({
            type: 'post',
            url: '_GenerateConcurrencyStamp',
            headers: {
                "RequestVerificationToken": '@Xsrf.AntiForgeryToken(HttpContext)'
            },
            data: {
                Input: { Id: id }
            },
            success: function (resp) {
                switch (resp.status) {
                    case 'success':
                        $('#' + eid).html(resp.data);
                        break;
                }
            },
            error: function () {
                alert('error');
            }
        });
        return false;
    }
</script>
