@page
@model Dawnx.AspNetCore.LiveAccountUtility.Pages.Users.EditModel
@using Dawnx.AspNetCore.LiveAccount.Entities

@{
    ViewBag.Title = "Edit";

    var LiveRoles = ViewBag.LiveRoles as IEnumerable<LiveRole>;
    var UserLiveRoles = ViewBag.UserLiveRoles as IEnumerable<LiveRole>;
}

<h2>Edit</h2>

<h4>LiveUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Input.Id" />
            <div class="form-group">
                <label asp-for="Input.UserName" class="control-label"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>LiveRoles</label>
                <ul>
                    @foreach (var liveRole in LiveRoles)
                    {
                        var id = Guid.NewGuid();
                        <li>
                            <input type="checkbox" id="@id" name="liveRoles" value="@liveRole.Id"
                                   @(liveRole.In(UserLiveRoles) ? "checked" : "") />
                            <label for="@id">@liveRole.Name</label>
                        </li>
                    }
                </ul>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
